#{extends 'main.html' /}
#{set title:'Home' /}

<!-- TODO: Better solution to put templates here ? Or anywhere else ? -->
<script id="songs" type="text/html">
    {{#song}}
    <li id="song-{{ id }}">
        <a class="title">{{ title }}</a>
        <span>({{ extension }})</span>
    </li>
    {{/song}}
</script>

<script id="finderState" type="text/html">
        <div>Recherche de fichier : {{ status }}</div>
        <div>
            <span>Analys&eacute;s : {{ files }} - </span>
            <span>Trouv&eacute;s : {{ songs }}</span>
        </div>
</script>
<!-- TODO: Full mustache templating? :) -->


<div id="header-container">
    <header class="wrapper">
        <h2 id="title">Soundective</h2>
        <nav>
            <ul>
                <li><a href="#">Player</a></li>
            </ul>
        </nav>
    </header>
</div>

<div id="main" class="wrapper">

    <aside>
        <div class="speakkerSmall"></div>

        <h3>Catalogue</h3>
        <div><ul id="songList"></ul></div>
    </aside>
    <article>
        <!--<header>
            <h3>The Player</h3>

        </header>-->

        <h3>The Song</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra. Pellentesque auctor neque quis nisl lacinia id rutrum lacus venenatis.</p>

        <footer>
            <h3>About the author</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
        </footer>

    </article>
</div>

<div id="footer-container">
    <footer class="wrapper">
        <div id="state"></div>
    </footer>
</div>